@use "../variable" as *;
@use "../mixin" as *;
@use "sass:math";

////////////////////////////////////////////////////////////
// global-animation
////////////////////////////////////////////////////////////
// fadeç³»
////////////////////////////////////////////////////////////
// js-stagger-wrap
.a-stagger-fade {
	opacity: 0;
	transition: opacity 0.3s;
	&.outback {
		transform: translateY(40px);
		transition:
			opacity 0.3s,
			transform 0.7s cubic-bezier(0.085, 0.86, 0.32, 1.65);
	}
	&.to-up {
		transform: translateY(rem(20));
		transition:
			opacity 0.8s,
			transform 0.4s;
		@media only screen and (max-width: $breakpoint) {
			transform: translateY(rem(10));
		}
		&.delay-05 {
			transition:
				opacity 0.6s 0.4s,
				transform 0.6s 0.4s;
		}
	}
	&.to-left {
		transform: translateX(rem(30));
		transition:
			opacity 0.4s,
			transform 0.4s;
		@media only screen and (max-width: $breakpoint) {
			transform: translateX(rem(20));
		}
	}
	&.to-right {
		transform: translateX(-30px);
		transition:
			opacity 0.4s,
			transform 0.4s;
		@media only screen and (max-width: $breakpoint) {
			transform: translateX(rem(-20));
		}
	}
	&.to-down {
		transform: translateY(rem(-20));
		transition:
			opacity 0.3s,
			transform 0.3s;
		// transition-timing-function: $easeOutCubic;
	}
	&.to-down4 {
		transform: translateY(rem(-40));
		transition:
			opacity 0.3s,
			transform 1s $easeOutCubic;
	}
	&.scale-down {
		transform: translateY(0) scale(1.3);
		transition:
			opacity 0.5s,
			transform 0.5s;
	}
	&.scale-up {
		transform: scale(0);
		opacity: 1;
		transition: transform 0.5s cubic-bezier(0.24, 0.195, 0.245, 1.525);
		&.is-active {
			opacity: 1;
			transform: scale(1);
		}
	}

	&.edge {
		opacity: 0;
		transform: translate(-10px, -10px);
		transition:
			transform 0.5s,
			opacity 0.1s;
		&.is-active {
			transform: translate(0, 0);
		}
	}

	&.horizon-mask {
		clip-path: inset(0% 100% 0% 100%);
		opacity: 1;
		transition: clip-path 1s $easeInOutCubic;
		&.is-active {
			clip-path: inset(0% 0% 0% 0%);
		}
	}
	&.is-active {
		opacity: 1;
		transform: translateY(0) translateX(0) scale(1);
	}
}

.a-single-fade {
	opacity: 0;
	transition: opacity 0.3s;
	&.outback {
		transform: translateY(40px);
		transition:
			opacity 0.3s,
			transform 0.7s cubic-bezier(0.085, 0.86, 0.32, 1.65);
	}
	&.to-up {
		transform: translateY(rem(20));
		transition:
			opacity 0.8s,
			transform 0.4s;
		@media only screen and (max-width: $breakpoint) {
			transform: translateY(rem(10));
		}
		&.delay-05 {
			transition:
				opacity 0.6s 0.4s,
				transform 0.6s 0.4s;
		}
	}
	&.to-left {
		transform: translateX(30px);
		transition:
			opacity 0.4s,
			transform 0.4s;
		@media only screen and (max-width: $breakpoint) {
			transform: translateX(rem(20));
		}
	}
	&.to-right {
		transform: translateX(-30px);
		transition:
			opacity 0.4s,
			transform 0.4s;
		@media only screen and (max-width: $breakpoint) {
			transform: translateX(rem(-20));
		}
	}

	&.to-down {
		transform: translateY(rem(-20));
		transition-timing-function: $easeOutCubic;
	}
	&.to-down4 {
		transform: translateY(-40px);
		transition-timing-function: $easeOutCubic;
		transition-duration: 0.7s;
	}
	&.scale-up {
		transform: scale(0);
		opacity: 1;
		transition: transform 0.3s cubic-bezier(0.24, 0.195, 0.245, 1.525);
		&.is-active {
			opacity: 1;
			transform: scale(1);
		}
	}
	&.horizon-mask {
		clip-path: inset(0% 100% 0% 100%);
		opacity: 1;
		transition: clip-path 1.5s $easeInOutSine;
		&.is-active {
			clip-path: inset(0% 0% 0% 0%);
		}
	}
	&.is-active {
		opacity: 1;
		transform: translateY(0) translateX(0) scale(1);
	}
}

////////////////////////////////////////////////////////////
// hover
////////////////////////////////////////////////////////////
.a-hv-op {
	display: block;
	transition: opacity 0.3s;
	cursor: pointer;
	@media (hover: hover) {
		&:hover {
			opacity: 0.7;
		}
	}
}
////////////////////////////////////////////////////////////
// a-cover-slide
////////////////////////////////////////////////////////////
.a-underline {
	background-image: linear-gradient(#f3e9b3, #f3e9b3);
	background-size: 0 1em;
	background-position: bottom right;
	background-repeat: no-repeat;
	transition: background-size 1s ease;

	&.is-active {
		background-size: 100% 1em;
		background-position: bottom left;
	}
}
