@use "../variable" as *;
@use "../mixin" as *;
@use "./utilty" as *;

////////////////////////////////////////////////////////////
// p-xxxxxxx
////////////////////////////////////////////////////////////
