@use "../variable/" as *;
@use "../mixin" as *;
@use "./utiltyPlaceholders" as *;

////////////////////////////////////////////////////////////
//  u-xxxxxxxx
////////////////////////////////////////////////////////////

.u-bold {
  @extend %u-bold;
}

.u-mid {
  @extend %u-mid;
}

.u-hidden {
  @extend %u-hidden;
}

.u-no-click {
  @extend %u-no-click;
}

.u-base-fit {
  @extend %u-base-fit;
}

.u-color-red {
  @extend %u-color-red;
}

.u-ff-maru {
  @extend %u-ff-maru;
}



.u-shadow {
  @extend %u-shadow;
}

.is-pc {
  .u-sp-tellink {
    @extend %u-sp-tellink;
  }
}

.u-align-center {
  @extend %u-align-center;
}

.u-underline {
  @extend %u-underline;
}

.u-link-underline {
  @extend %u-link-underline;
}

.u-hv-underline {
  @extend %u-hv-underline;
}



////////////////////////////////////////////////////////////
// img
////////////////////////////////////////////////////////////
.u-img-100 {
  @extend %u-img-100;
}

.u-img-cover {
  @extend %u-img-cover;
}

////////////////////////////////////////////////////////////
// layout
////////////////////////////////////////////////////////////
.u-l-flex {
  @extend %u-l-flex;

  &.--spbet {
    justify-content: space-between;
  }
}

.u-l-flex-pc {
  @extend %u-l-flex-pc;
}

.u-l-flex-sp {
  @extend %u-l-flex-sp;
}

.u-l-inner-wrap {
  @extend %u-l-inner-wrap;
}
