@font-face {
	font-family: "firple";
	src: url("/assets/fonts/Firple/Firple-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "firple";
	src: url("/assets/fonts/Firple/Firple-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}