:root {
  --base-bgc: #fff;
  --base-fc: #000;
  --c-red: #d44848;
  --dark-bgc: #181818;
  --base-ff:
    system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans JP",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", "Yu Gothic UI",
    Meiryo, sans-serif;
  --font-serif-jp: "Noto Serif Japanese", serif;
  --form-border: #848484;
}
